// ----------------------------------------------------
// BASE

*, *:before, *:after
    box-sizing: border-box
*
    margin: 0

html
    max-width: 100vw
    font-size: $basesize

section, article, aside, header, footer, nav, main, figure, figcaption, code, picture
    display: block

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
    margin: 0 0 $baseline

img
    max-width: 100%
    height: auto
    
body
    +font-size($font-size-default)
    background: $body-bg
    color: $text-color
    font-family: $font-family-default
    @if $font-antialiased
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

@if $selection-color or $selection-bg
    ::selection
        color: $selection-color
        background-color: $selection-bg


// ----------------------------------------------------
// TYPOGRAPHY

em, i
    font-style: italic
strong, b
    font-weight: bold
strong em, em strong, b i, i b
    font-style: italic
    font-weight: bold
u
    text-decoration: underline
del
    text-decoration: line-through

h1, h2, h3, h4, h5, h6
    font-family: $font-family-headings
    font-weight: normal

h1
    +font-size($font-size-h1)
h2
    +font-size($font-size-h2)
h3
    +font-size($font-size-h3)
h4
    +font-size($font-size-h4)
h5
    +font-size($font-size-h5)
h6
    +font-size($font-size-h6)

small
    +font-size($font-size-sm)

sup
    // vertical-align: super
    // font-size: smaller
    font-size: 80%
    position: relative
    top: -0.6em
sub
    // vertical-align: sub
    // font-size: smaller
    font-size: 80%
    position: relative
    bottom: -0.2em

hr
    margin: $baseline 0
    display: block
    height: $hr-height
    border: 0
    border-top: $hr-border


// ----------------------------------------------------
// LINKS

a:focus, input:focus, textarea:focus, button:focus, .slick-slide:focus
    outline: none

a, button, .btn
    transition: $link-transition

a
    -webkit-tap-highlight-color: transparent //ios fix
    color: $link-color
    text-decoration: $link-decoration
    &:hover
        color: $link-hover-color
        text-decoration: $link-hover-decoration
.link-unstyled
    color: inherit
    text-decoration: none
    &:hover
        color: inherit
        text-decoration: none

// ----------------------------------------------------
// BUTTONS

input[type="submit"], button, .btn
    @extend .link-unstyled
    -webkit-appearance: none
    display: inline-block
    cursor: pointer
    line-height: 1
    text-align: center
    border-radius: 0
    background: $accent-color
    border:  1px solid $accent-color
    color: $color-white
    padding: 5px 10px

    &:hover
        background: transparent
        color: $accent-color


// ----------------------------------------------------
// LISTS

ul, ol
    padding-left: 1.1em
    list-style-position: outside

ul
    list-style-type: disc
ol
    list-style-type: decimal

.list-unstyled
    list-style: none
    padding-left: 0
    margin-bottom: 0


// ----------------------------------------------------
// LAYOUT

@mixin set-container-margins($property, $reduce:0)
    @each $point,$margin in $container-margins
        +set-by-breakpoint($point)
            #{$property}-left: ($margin - $reduce)
            #{$property}-right: ($margin - $reduce)

@mixin make-container($padding:true)
    width: auto
    +sizes($container-width, width)
    position: relative
    @if $padding
        padding-right: ($gutter/2)
        padding-left: ($gutter/2)
    +set-container-margins(margin, ($gutter/2))
    @if $container-fixed-breakpoint
        +breakpoint($container-fixed-breakpoint)
            margin-left: auto
            margin-right: auto

@mixin clear-container()
    width: auto
    padding-left: 0
    padding-right: 0
    margin-left: 0
    margin-right: 0

.container
    +make-container

.app-main
    position: relative
    z-index: $z-index-main
    @if $sticky-footer
        flex: 1 0 auto

@if $sticky-footer
    #__next
        min-height: 100vh
        display: flex
        flex-direction: column
        justify-items: flex-start

// Html noscroll
html.noscroll
    position: fixed
    overflow-y: scroll
    width: 100%
