@mixin set-font-face($font-family, $font-path, $font-weight, $font-style)
    @font-face
        font-family: $font-family
        src: url('#{$font-path}.woff2') format('woff2'), url('#{$font-path}.woff') format('woff')
        font-weight: $font-weight
        font-style: $font-style

// Executive
// +set-font-face('Executive', '/fonts/Executive-Regular', normal, normal)
// +set-font-face('Executive', '/fonts/Executive-RegularIta', normal, italic)