/* SASS MIXINS AND FUNCTIONS */

@mixin input-placeholder
    &.placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::-webkit-input-placeholder
        @content

@mixin position-center($position, $right: 0, $left: 0)
    position: $position
    right: $right
    left: $left
    margin: 0 auto

@mixin background-cover($position: center)
    background-repeat: no-repeat
    background-position: $position
    background-size: cover

@mixin text-cols($cols, $gutter: $gutter)
    column-count: $cols
    column-gap: $gutter

// Text selection styles
@mixin text-selection
    ::-moz-selection
        @content
    ::selection
        @content

// Disable text selection
@mixin disable-user-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: default

// Disable text click
@mixin disable-user-click
    pointer-events: none
    cursor: default

// Disable image drag
@mixin disable-image-drag
    -webkit-user-drag: none
    -khtml-user-drag: none
    -moz-user-drag: none
    -o-user-drag: none
    user-drag: none


// BORDERS
// For grid columns with side gutter
// Position: top, bottom, left, right
@mixin border($position, $border, $margin: ($gutter/2))
    content: ''
    display: block
    position: absolute
    @if $position == 'top' or $position == 'bottom'
        left: $margin
        right: $margin
        height: 1px
        border-top: $border
        @if $position == 'top'
            top: 0
            bottom: auto
        @else
            top: auto
            bottom: 0
    @if $position == 'left' or $position == 'right'
        top: 0
        bottom: 0
        width: 1px
        border-left: $border
        @if $position == 'left'
            left: $margin
            right: auto
        @else
            left: auto
            right: $margin


// TRIANGLES
// directions: bottom, top, left, right
@mixin triangle($direction, $color, $width, $height)
    content: ""
    display: inline-block
    zoom: 1
    width: 0
    height: 0

    @if $direction == bottom or $direction == top
        border-right: $width solid transparent
        border-left: $width solid transparent
        @if $direction == bottom
            border-top: $height solid $color
            border-bottom: none
        @else
            border-bottom: $height solid $color
            border-top: none
    @else if $direction == left or $direction == right
        border-top: $height solid transparent
        border-bottom: $height solid transparent
        @if $direction == left
            border-right: $width solid $color
            border-left: none
        @else
            border-left: $width solid $color
            border-right: none


// MEDIA QUERIES
// Breakpoints: xs, sm, md, lg, xl
// Max Breakpoints: xs-max, sm-max, md-max, lg-max
@mixin breakpoint($point)
    @if $point == 'xs'
        @media (max-width: $screen-sm - 1)
            @content
    @else if $point == 'sm'
        @media (min-width: $screen-sm)
            @content
    @else if $point == 'md'
        @media (min-width: $screen-md)
            @content
    @else if $point == 'lg'
        @media (min-width: $screen-lg)
            @content
    @else if $point == 'xl'
        @media (min-width: $screen-xl)
            @content
    @else if $point == 'xs-max'
        @media (max-width: $screen-xs-max)
            @content
    @else if $point == 'sm-max'
        @media (max-width: $screen-sm-max)
            @content
    @else if $point == 'md-max'
        @media (max-width: $screen-md-max)
            @content
    @else if $point == 'lg-max'
        @media (max-width: $screen-lg-max)
            @content
    @else
        @media (min-width: $point)
            @content
@mixin retina()
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        @content


// NAVBAR BUTTON
@mixin navbar-btn($color, $width, $linesHeight, $linesGutter, $display: block)
    position: relative
    display: $display
    height: ($linesHeight * 3) + ($linesGutter * 2)
    width: $width
    &:before,
    &:after
        content: ''
        display: block
        width: $width
        border-top: $linesHeight solid $color
        position: absolute
        left: 0
    &:before
        height: (($linesHeight * 2) + ($linesGutter))
        border-bottom: $linesHeight solid $color
        top: 0
    &:after
        bottom: 0

@mixin navbar-btn-close($linesHeight, $linesGutter)
    &:before
        transform: rotate(45deg)
        top: ($linesHeight + $linesGutter)
        height: $linesHeight
        border-bottom: none
    &:after
        transform: rotate(-45deg)
        bottom: ($linesHeight + $linesGutter)

    
// GRID
@function span($cols, $grid-columns: $grid-columns)
    @return ((100%/$grid-columns) * $cols)

@mixin span($cols, $grid-columns: $grid-columns)
    width: span($cols, $grid-columns)
    padding-left: ($gutter/2)
    padding-right: ($gutter/2)

@mixin row($clearfix:false, $gap: $gutter)
    display: flex

// Use with care
// Doesn't work on xs and fluid containers
@function span-fixed($cols, $container)
    @return (($container/$grid-columns) * $cols)


// RESPONSIVE SIZES
// Allows to set multiple responsive sizes in a map
// Just set a map and a property
// $property accepts sass lists

@mixin set-by-breakpoint($point)
    @if $point == xs
        @content
    @else
        +breakpoint($point)
            @content

// Mixins helpers
// Allows for $property sass lists
@mixin set-sizes($size, $property)
    @if length($property)
        @each $item in $property
            #{$item}: $size
    @else
        #{$property}: $size
@mixin set-spans($cols, $property)
    @if length($property)
        @each $item in $property
            #{$item}: span($cols)
    @else
        #{$property}: span($cols)

// Must have variables such as 
// $sizes: (xs:100px, md:200px)
@mixin sizes($sizes, $property)
    @each $point,$size in $sizes
        +set-by-breakpoint($point)
            +set-sizes($size, $property)

// Sizes with grid span functions
// Must have variables such as 
// $spans: (xs:4, md:5)
@mixin sizes-span($spans, $property)
    @each $point,$cols in $spans
        +set-by-breakpoint($point)
            +set-spans($cols, $property)


// FONT SIZES
// For responsive it must have variables such as 
// $font-size: (
//      xs: (_FONT-SIZE_, _LINE-HEIGHT_),
//      md: (_FONT-SIZE_, _LINE-HEIGHT_) );
// If not responsive, just use
// $font-size: (_FONT-SIZE_, _LINE-HEIGHT_);
// It can have font-size and line-weight or just font-size
// $font-size: _FONT-SIZE_;

@mixin set-font-size($size)
    @if type-of($size) == list
        font-size: nth($size, 1)
        line-height: nth($size, 2)
    @else if $size
        font-size: $size

@mixin font-size($font-size)
    @if type-of($font-size) == map
        @each $point,$size in $font-size
            +set-by-breakpoint($point)
                +set-font-size($size)
    @else if $font-size
        +set-font-size($font-size)


// SCREEN HEIGHT
// removes header height offset diference
@mixin screenHeight($property, $screenHeight: 100vh)
    @each $point,$height in $site-header-height
        +set-by-breakpoint($point)
            #{$property}: calc(#{$screenHeight} - #{$height})


// LAST ELEMENTS MARGIN
@mixin cleanLastElemsMargin()
    h1, h2, h3, h4, h5, h6, p, ul, ol
        &:last-child
            margin-bottom: 0



// PROJECT SPECIFIC