// COLORS
$color-white: #FFF;
$color-black: #000;

$accent-color: blue;


// BASE
$body-bg: $color-white;
$text-color: $color-black;

$link-color:             $accent-color;
$link-hover-color:       $text-color;
$link-decoration:        underline;
$link-hover-decoration:  underline;
$link-transition:        all 0.5s;

$selection-color:        none;
$selection-bg:           none;

$hr-height:              1px;
$hr-border:              $hr-height solid $text-color;


// FONTS
$basesize:                16px; //base to calculate em sizes
$baseline:                20px;

$font-size-default:       (16px,20px);
$font-size-sm:            none;
$font-size-h1:            none;
$font-size-h2:            none;
$font-size-h3:            none;
$font-size-h4:            none;
$font-size-h5:            none;
$font-size-h6:            none;

$font-family-default:     sans-serif;
$font-family-display:     $font-family-default;
$font-family-headings:    $font-family-display;

$font-antialiased:        true;


// GRID
$gutter: 20px;
$grid-columns: 12;


// CONTAINER
// $container-width: (
//     sm:(720px + $gutter),
//     md:(940px + $gutter),
//     lg:(1140px + $gutter),
//     xl:(1760px + $gutter),
// );
$container-width: false;
$container-fixed-breakpoint: false;
$container-fixed-breakpoint-max: false;

// must have at least same breakpoints as $container-size
$container-margins: (
    xs:($gutter),
    sm:($gutter),
    md:($gutter),
    lg:($gutter),
    xl:($gutter)
);

// MEDIA QUERIES BREAKPOINTS
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;
$screen-xl:                  1400px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);


// Z-INDEX
$z-index-main: 10;
$z-index-header: 100;
$z-index-footer: 50;


// HEADER
// $header-height: 48px;
// $header-bg: transparent;
// $header-color: $text-color;

// FOOTER
$sticky-footer: true;