// ----------------------------------------------------
// SLIDESHOW

.slideshow
    +transition(opacity 0.5s)
    opacity: 0
    &.loaded
        opacity: 1

.js-slickArrowPrev, .js-slickArrowNext
    display: none

    